body {
    background-color: #001f33;
    color: white;
}

h1 {
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    font-family: 'Inter';
    font-size: 48px;
}

hr {
    margin-top: 1/2;
    margin-bottom: 0;
}

a {
    font-family: 'Inter';
    font-size: 32px;
    font-weight: 100;
    text-decoration: none;
}

a:link, a:visited {
    color: #00ffff;
}

a:hover, a:active {
    color: #00bfff	;
}

p {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Inter';
    font-weight: 100;
}

h2 {
    font-family: 'Inter';
    margin-bottom: 0;
    margin-top: 0;
    font-size: 48px;
    font-weight: 100;
}

#contactInfo p {
    font-family: 'Inter';
    font-size: 28px;
    font-weight: 100;
    text-decoration: none;
}